{# format with translator comment #}
<p>{{ __('Hello %s', 'informal greeting')|format(name) }}</p>

<div>
	<span>
		{# format without a comment #}
		<a href="https://google.com">{{ __("%s")|format(foobar) }}</a>
		{# format with a hard-coded value #}
		<a href="https://google.com">{{ __("another %s")|format('NOT A VARIABLE') }}</a>
	</span>
</div>
