parameters:
	level: max
	paths:
		- jds-demo-plugin/src
		- jds-demo-plugin/tests/unit
		- jds-demo-plugin/tests/bootstrap.php
	stubFiles:
		- stubs/Node.stub
	scanDirectories:
	 	- jds-demo-plugin/vendor
includes:
	- dev-utils/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon
